<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel='stylesheet' href='/styles/style.min.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="/"><img src="/img/logo.png" class="nav__logo" alt="LookLive Logo"></a>
                <ul class="nav__list">
                    <li class="nav__list--item"> <a href="/"><img src="/icon/png/home.png">Home</a> </li>
                    <li class="nav__list--item"> <a href="https://looklive.com/discover/"><img src="/icon/png/latest.png">Latest</a> </li>
                    <li class="nav__list--item"> <a href="https://looklive.com/people/"><img src="/icon/png/people.png">People</a> </li>
                    <li class="nav__list--item"> <a href="https://looklive.com/shows/"><img src="/icon/png/shows.png">Shows</a> </li>
                    <li class="nav__list--item"> <a href="https://looklive.com/music/"><img src="/icon/png/music.png">Music</a> </li>
                    <li class="nav__list--item"> <a href="https://looklive.com/brands/"><img src="/icon/png/brands.png">Brands</a> </li>
                </ul>
            </nav>

            <picture>
                <source srcset="/img/header-1920.jpg" media="(min-width: 1280px)">
                <source srcset="/img/header-1280.jpg" media="(min-width: 800px)">
                <source srcset="/img/header-800.jpg" media="(min-width: 320px)">
                <img src="/img/header-320.png" alt="Header Image" class="header__img">
            </picture>
        </header>

        {{{body}}}

        <script src="/js/jquery.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>