.feedlist-detail {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: $bg-gray;
	padding: 1em;

	&-info {

	}
	&-image {
		max-width: 80vw;
	}
	&-title {
		border-bottom: 1px solid $gray;
		margin-top: .5em;
	}

	@media (min-width: 980px) {
		padding: 3em;

		> section:first-of-type {
			margin-right: 2em;
		}
	}
}

/* Left section */
.info-section {
	max-width: 35em;
	width: 100%;
}

/* Right section */
	/* For the points */
.image-section {
	width: 25em;
	height: 37.5em;
	position: relative;
}