/* Indocators */
.product {
	
	&-indicator {
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    background-color: $blue;
	    border: 2px solid $gray;
	    border-radius: 50%;
	}

	&-indicator-active {
		background-color: $light-green;
	}
}

/* Product info slide-in */
.product {
	transform: translateX(100%);
	max-width: 25em;
	height: 43em;

	&:last-of-type {
		position: relative;
		top: -100%;
		/*transform: translateY(-100%);*/
	}
	
	&-active {
		transition: .3s;
		transform: translateX(0);
		position: relative;
		top: 0;
	}
	
	&-container {
		display: inline-block;
		width: 25em;
		overflow: hidden;
		height: 43em;
	}
}

/* product general */
.product {
	&-image {
		width: 8em;
		margin: .7em .7em .7em 0;
	}
	&-info {
		flex: 1;
	}
}


/* Actual & Similar */
.actual {
	display: flex;
	flex-flow: row wrap;

	.product-image {
		width: 12em;
	}
}

.actual,
.similar {
	padding-bottom: .5em;
	border-bottom: 1px solid #ddd;

	display: flex;
	flex-flow: column wrap;

	p {
		font-size: 140%;
		font-weight: bold;
	}
	h2 {
		width: 100%;
		font-size: 120%;
	}

	@media(min-width: 400px) {
		flex-flow: row wrap;
	}
}