/*body .appearance h2 {
    font-size: 21px;
}

body .appearance .appearance-products-inner {
    width: 400px;
    position: relative;
    overflow: hidden;
    height: 700px;
}

body .appearance .appearance-products-inner .product {
    width: 450px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left .3s;
}



body .actual, 
body .similar {
    display: -webkit-flex;
    display: flex;

    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

body .actual .image, 
body .similar .image {
    width: 200px;

    -webkit-flex-shrink: 0;
    flex-shrink: 0;

    margin-right: 1em;
}

body .similar .image {
    width: 150px;
}

body .actual .image h1, 
body .similar .image h1 {
    margin: .5em 0;
    color: #333;
    font-size: 16px;
    border-bottom: none;
}

body .actual .image img, 
body .similar .image img {
    width: 100%;
}

body .actual .info h1, 
body .similar .info h1 {
    font-size: 21px;
    margin: 1.5em 0 .5em 0;
    border-bottom: none;
}

body .actual .info h2, 
body .similar .info h2 {
    font-size: 16px;
    margin: 1em 0;
}*/