body {
	line-height: 1.7;
	color: $font;
	font-family: "Raleway", Sans-Serif;
}

h1 {
	font-size: 1.8em;
	margin: 0;
}
h2 {
	font-size: 1.5em;
	margin: 0;
}
h3 {
	font-size: 1.3em;
	margin: 0;
}
h4, p, a, span, i, a, b, blockquote, li {
	font-size: 1em;
}
